@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

:root {
	--white: #ffffff;
	--dark: #141414;
	--primary: #95702c;
	--secondary: #f8dd57;
	--gray-l: #c4c4c4;
	--gray-d: #9a989a;
	--gold-gradient: linear-gradient(var(--primary), var(--secondary), var(--primary));
	--silver-gradient: linear-gradient(var(--gray-d), var(--gray-l), var(--gray-d));
	/* --mobile-screen: 480px;
	--small-screen: 769px;
	--desktop-screen: 1200px; */
	--primary-font: "Roboto", sans-serif;
}

/* === GENERAL === */

body {
	font-family: var(--primary-font);
	background: var(--dark);
	color: var(--white);
}

h1,
th {
	font-weight: 400;
	text-transform: capitalize;
}

h2 {
	font-weight: 300;
}

p,
td {
	font-weight: 100;
}

form {
	width: 100%;
}

label {
	margin-bottom: 0.5em;
}

.page-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.first-section,
.second-section {
	width: 20rem;
}

/* === TOOLS === */

/* width*/

.w-100 {
	width: 100%;
}

.w-75 {
	width: 75%;
}

.w-50 {
	width: 50%;
}

.w-25 {
	width: 25%;
}

/* Margins */

.m-1 {
	margin: 1rem !important;
}

.mt-1 {
	margin-top: 1rem;
}

.mb-1 {
	margin-bottom: 2rem;
}

.mb-05 {
	margin-bottom: 0.5rem;
}

.ms-1 {
	margin-left: 1rem;
}

.me-1 {
	margin-right: 1rem;
}

/* Paddings */

.p-1 {
	padding: 1rem;
}

.pt-1 {
	padding-top: 1rem;
}

.pb-1 {
	padding-bottom: 1rem;
}

.ps-1 {
	padding-left: 1rem;
}

.pe-1 {
	padding-right: 1rem;
}

.fw-0 {
	font-weight: 100;
	font-size: small;
}

.fw-1 {
	font-weight: 100;
	font-size: normal;
}

/* flex-box */

.d-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.d-flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-item {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.f-al-l {
	align-items: flex-end;
}

.form-item label span {
	color: var(--secondary);
}

/* === ITEMS === */

/* .titulo {
} */

.logo img {
	height: 12em;
	width: auto;
}

.clock-counter {
	padding: 0.5rem 0 0.5rem 0;
	justify-content: space-between;
	align-items: center;
	height: auto;
	width: 95%;
	border-radius: 0.3rem;
	background: var(--gold-gradient);
}

.line {
	height: 3.5rem;
	width: 1px;
	background-color: var(--dark);
	color: var(--dark);
}

.time-interval-container {
	width: 25%;
	height: 100%;
	color: var(--dark);
	justify-content: center;
}

.time-interval-container h1 {
	font-weight: 500;
	font-size: 3rem;
	height: 50px;
}

.time-interval-container h2 {
	font-weight: 400;
	font-size: 1.25rem;
}

/* Buttons */

.btn {
	text-decoration: none;
	text-align: center;
	padding: 0.8em;
	border-radius: 0.3rem;
	font-weight: 400;
	font-size: 1rem;
	text-transform: capitalize;
	border: none;
}

.btn:hover {
	cursor: pointer;
}

.btn-primary {
	color: var(--dark);
	background: var(--gold-gradient);
	transition-duration: 0.25s;
}

.btn-primary:hover {
	filter: brightness(1.125);
	transition-duration: 0.25s;
}

.btn-secondary {
	color: var(--secondary);
	background: var(--dark);
	transition-duration: 0.25s;
}

.btn-secondary:hover {
	color: var(--dark);
	background: var(--gold-gradient);
	transition-duration: 0.25s;
}

.bg-gold-gradient {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2rem;
	border-radius: 0.3rem;
	background: var(--gold-gradient);
}

/* Forms*/

.form-input {
	border: 0.15em solid var(--gray-d);
	background-color: var(--dark);
	border-radius: 0.3rem;
	padding: 0.8em;
	color: var(--white);
	outline: none;
	font-size: 1rem;
	transition-duration: 0.25s;
}

.form-input::placeholder {
	color: var(--gray-d);
	font-size: 1rem;
}

.form-input:focus {
	border-color: var(--secondary);
	transition-duration: 0.25s;
}
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
} */

.form-input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px rgb(20, 20, 20) inset !important;
	-webkit-text-fill-color: #ffffff !important;
}

input[type="checkbox"] + label {
	font-weight: bold;
	line-height: 3em;
	color: #ccc;
}

input[type="checkbox"]:checked + label {
	color: #0fbf12;
}

/* Tickets */

.counter-block {
	width: 100%;
}

.form-block {
	width: 100%;
}

.tickets-block {
	width: 100%;
}

.tickets-block .form-search {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.tickets-block .form-search input {
	width: 90%;
}

.tickets-block .form-search button {
	width: auto;
}

.buy-block {
	width: 100%;
}

.buy-block a {
	color: var(--secondary);
}

.refresh-block span {
	color: var(--secondary);
}

.tickets-grid-container {
	width: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	justify-items: center;
}

.ticket {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ticket iframe {
	border: none;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.ticket h1 {
	color: var(--dark);
	position: absolute;
	font-size: 1.4rem;
	z-index: 1;
}

.ticket input {
	width: 6rem;
	height: 4rem;
	position: absolute;
	opacity: 0;
	z-index: 2;
}

.ticket input:hover {
	cursor: pointer;
}

.gift-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 5rem;
	width: 100%;
}

.bg-gold-gradient-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	width: 5rem;
	background: var(--gold-gradient);
	border-radius: 50%;
}

.bg-dark-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4.5rem;
	width: 4.5rem;
	background-color: var(--dark);
	border-radius: 50%;
}

.bg-dark-circle a {
	width: auto;
	height: 70%;
}

/* POPUPS */

.card-popup {
	/* Descomentar para que no aparezca el popup al recargar la pagina */
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	color: var(--white);
}

.container-flex {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-close {
	position: fixed;
	background-color: #4e4e4e6c;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100vh;
}

.card-content {
	z-index: 4;
	display: flex;
	flex-direction: column;
	background-color: var(--dark);
	border-radius: 0.6rem;
	padding: 1.5rem 1.5rem;
}

.card-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1rem;
}

.card-header i {
	cursor: pointer;
	align-self: flex-start;
}

.card-info-transaction {
	display: flex;
	justify-content: center;
	padding-bottom: 1rem;
}

.card-info-transaction table {
	background-color: #313131;
	border-collapse: collapse;
	width: auto;
}

.card-info-transaction th,
td {
	/* border-bottom: 1px solid #ddd; */
	padding: 0.5rem;
	text-align: left;
}

.card-info-transaction td {
	width: 20rem;
}

.card-info-transaction tr:hover {
	background-color: #4e4e4e;
}

.card-info-transaction tr:nth-child(even):hover {
	background-color: #4e4e4e;
}

.card-info-transaction tr:nth-child(even) {
	background-color: #222222;
}

.card-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.virtual-ticket {
	flex-direction: column;
	align-items: center;
}

.virtual-ticket td {
	width: 50%;
}

.virtual-ticket .ticket {
	width: 15rem;
	height: auto;
}

.virtual-ticket .ticket h1 {
	font-weight: bold;
	font-size: 3rem;
}

@media (min-width: 1269px) {
	body {
		overflow: hidden;
	}
	.page-content {
		display: flex;
		height: 100vh;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

	.first-section {
		position: relative;
		width: min-content;
		min-width: 50%;
	}

	.line-section {
		width: 2px;
		height: 80vh;
		background-color: var(--gray-d);
	}

	.mb-1 {
		margin-bottom: 1rem;
	}

	.tickets-grid-container {
		grid-template-columns: repeat(6, 1fr);
	}

	.gift-container {
		width: 6rem;
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 0;
	}

	.bg-gold-gradient-circle {
		position: relative;
		width: 100px;
		height: 100px;
		-moz-border-radius: 0 100% 0 0;
		-webkit-border-radius: 0 100% 0 0;
		border-radius: 0 100% 0 0;
	}

	.bg-dark-circle {
		position: absolute;
		height: 95px;
		width: 92px;
		left: 0;
		bottom: 0;
		border-radius: 0 100% 0 0;
	}

	.bg-dark-circle a {
		position: absolute;
		left: 0.8rem;
		bottom: 1.3rem;
		width: auto;
		height: 50%;
	}
}
